body {
    background: #352f5b;
}

ul li span {
    color: #fff;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.far {
    color:#fff;
}

.todos li {
    background: #423a6f;
}

.delete {
    cursor: pointer;
}
